rms-config
rms-discovery
rms-gateway
reservation-service
resource-service
rms-webclient
/.metadata/
RemoteSystemTempFiles/
.recommenders
servers/
admin-login-service
admin-registration-service
email-service
authentication-service
